.logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0 20px 15px;
}

.Tilt {
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

@media screen and (max-width: 500px) {
  .logo-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
}
