.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  font-size: 1.4rem;
}
@media screen and (max-width: 500px) {
  .navbar {
    justify-content: space-evenly;
    font-size: 1.3rem;
  }
}
